.checkout-page{
    display: flex;
    
}


.product-table img{
    width: 70px;
    height: 100px; 
    object-fit: cover; 
}


form:hover{
    transition: none;
}

.consumer-form button{
    background: rgba(75, 141, 241, 0.993); 
    color: #fff;
    width: 200px;
    
}

@media(max-width: 768px){
  
}