:root{
  --base: #25275E ;
  --baseLowOp: #16437ea1 ;

  --lightBlue:  rgba(75, 141, 241, 0.767); 


  --intermediate: #5C82CA; 

  --secondary: #eb3e20;
  --secondaryLowOp: #e73803e3;

  --dark: #010000; 
  --light: #d9d9d9; 

  --shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --userMenuWidth: 200px;
  --userMenuHeight: 100px;  

}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  padding: 0; 
  margin: 0;
  box-sizing: border-box; 
  font-family: 'Open sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* Scrollbar */
/* width */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--base);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{

}


.App{
  margin: 0 auto; 
  padding: 0; 
}
a{
  text-decoration: none; 
}
ul li{
  list-style: none; 
}
button{
  border: none; 
  outline: none; 
  background: transparent; 
  cursor: pointer; 
}


/* Responsive body
 */
@media(max-width: 768px){
  body{
      padding: 2rem 0; 
  }
}
/* ---------- Header --------- */
@import url("./components/headers/header.css");

/* ---------- Products --------- */
@import url("./components/mainpages/products/products.css");

/* ---------- Detail Products --------- */
@import url("./components/mainpages/detailProduct/detailProduct.css");


/* ---------- Login --------- */
@import url("./components/mainpages/auth/login.css");

/* ----------  Cart --------- */
@import url("./components/mainpages/cart/cart.css");

/* ---------- History  --------- */
@import url("./components/mainpages/history/history.css"); 

/* ----------  Categories --------- */
@import url("./components/mainpages/categories/categories.css"); 

/* ----------  Create Product --------- */
@import url("./components/mainpages/createProduct/createProduct.css");

/* ----------  Checkout  --------- */
@import url("./components/mainpages/checkout/checkout.css");